.wearing_section {
    width: 100%;
}

.wearing_blur {
  background-color: rgba(46, 45, 46, 50%);
  margin: 10px;
  height: 600px;
  border-radius: 15px;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wearing_btn_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.wearing_btn {
  border: none;
  background-color: white;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  color: black;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.06em;
  transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 150px;
  height: 250px;
  margin: 30px 8px;

}

.wearing_btn:hover,
.wearing_btn:focus {
  color: white;
  background-color: green;
  outline: none;
  box-shadow: 0px 0px 10px #00ff00;
}
