.home_section{
  width: 100%;
}

.home_blur {
  background-color: rgba(46, 45, 46, 50%);
  margin: 10px;
  height: 600px;
  border-radius: 15px;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.home_btn_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.home_btn,
.home_btn_start,
.home_btn_stop {
  border: none;
  background-color: white;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  color: black;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.06em;
  transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 150px;
  height: 100px;
  margin: 10px 8px;
}

.home_btn:hover,
.home_btn:focus {
  color: white;
  background-color: rgb(0, 165, 255);
  outline: none;
  box-shadow: 0px 0px 10px rgb(32, 177, 255);
}

.home_btn_start:hover,
.home_btn_start:focus {
  color: white;
  background-color: green;
  outline: none;
  box-shadow: 0px 0px 10px #00ff00;
}

.home_btn_stop:hover,
.home_btn_stop:focus {
  color: white;
  background-color: red;
  outline: none;
  box-shadow: 0px 0px 10px #ff0000;
}